.table{
  &-home{
    width: 180px;
    div{
      justify-content: flex-end;
    }
  }

  &-away{
    width: 180px;
    div{
      justify-content: flex-start;
    }
  }

  .home-victory{
    background-color: #dbfdd7 !important;
  }

  td{
    position: relative;
  }

  .canceled {
    position: absolute;
    right: 0;
    bottom: 0;
    background: red;
    color: #fff;
    width: 60px;
    text-transform: uppercase;
    font-size: 9px;
    padding: 2px;
  }


  img{
    width: 20px;
    height: 20px;
    object-fit: contain;
    float: right;
    margin-bottom: 5px;
  }

  @media screen and (max-width: 768px){
    
    tr{
      th:nth-child(1),
      th:nth-child(2),
      th:nth-child(3),
      td:nth-child(1),
      td:nth-child(2),
      td:nth-child(3)
      {
        display: none;
      }
    }

    &-away,
    &-home{
      width: 90px;
    }
  }
}

.icon-chart{
  margin: 0 auto;
}