.table{
  &-home{
    justify-content: flex-end;
  }

  &-away{
    justify-content: flex-start;
  }

  img{
    width: 25px;
    height: 25px;
    object-fit: contain;
    float: right;
    margin: 5px;
  }
}