<div class="container">
  <p>O projeto prático de frontend Angular que lista APIs da GT League e Adriact Soccer, com autenticação usando Firebase. Visando estudos sobre o famework angular v15.</p> 
  <p>Os usuários podem acessar uma ampla gama de informações sobre ligas, equipes, jogadores, estatísticas e resultados.</p>
  <div class="box">
    <a class="btn btn-large btn-primary" [routerLink]="'/gtleague'">GT League</a>
    <a class="btn btn-large btn-primary" [routerLink]="'/adriactleague'">Adriact Soccer</a>
  </div>
</div>