<div class="container-center">
  <app-sign-in></app-sign-in>

  <div *ngIf="auth.userLogged">
    <app-navbar></app-navbar>

    <div class="container">
      <div *ngIf="bitcois.currentPrice.time">
        <h2>Data/hora</h2>
        <p>{{ bitcois.currentPrice.time.updated }}</p>
        <hr />
        <h2>USD (<span [innerHtml]="bitcois.currentPrice.bpi.USD.symbol"></span>)</h2>
        <div>{{ bitcois.currentPrice.bpi.BRL.rate_float | currency }}</div>
        <hr />
        <h2>BRL (<span [innerHtml]="bitcois.currentPrice.bpi.BRL.symbol"></span>)</h2>
        <div>R{{ bitcois.currentPrice.bpi.BRL.rate_float | currency }}</div>

        <table border="1">
          <tr>
            <th>Updated</th>
            <th>USD</th>
            <th>BRL</th>
          </tr>
          <tr *ngFor="let price of this.bitcois.history">
            <td>{{ price.time.updated }}</td>
            <td>{{ price.bpi.USD.rate_float | currency }}</td>
            <td>{{ price.bpi.BRL.rate_float | currency }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>