.container-center{
  height: 100vh;
}

.table-result{
  margin: 40px auto;

  td > div{
    display: flex;
    align-items: center;
  }

  &__home{
    justify-content: flex-end;
  }

  &__away{
    justify-content: flex-start;
  }

  img{
    width: 25px;
    height: 25px;
    object-fit: contain;
    float: right;
    margin: 5px;
  }
}