<div class="container">
    <div >
      <table class="table-result">
        <thead>
          <tr>
            <th>Home</th>
            <th></th>
            <th></th>
            <th></th>
            <th>Away</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let results of this.resultsData.listResults">
            <td>
              <div class="table-result__home">
                {{ results.participants[0].participant.team.name }}
                <img src="{{ results.participants[0].participant.team.crest }}" alt="">
              </div>
            </td>
            <td>{{ results.result.stats.home_score}}</td>
            <td>X</td>
            <td>{{ results.result.stats.away_score}}</td>
            <td>
              <div  class="table-result__away">
                <img src="{{ results.participants[1].participant.team.crest }}" alt="">
                {{ results.participants[1].participant.team.name }}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>