.nav{
  padding: 10px 0;
  background-color: black;
  color: #fff;
  
  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-brand img {
    width: 40px;
  }

  &-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: 40px;
    font-size: 12px;

    .btn{
      margin-left: 5px;
    }
  }
}

.menu{
  display: flex;

  &-item{
    margin: 0 10px;
  }

  &-link{
    color: #fff;
    &:hover{
      color: #0d9ff8;
    }
  }


  .active{
    color: #0d9ff8;
  }
}