<nav class="nav">
  <div class="container">
    <div class="nav-brand">
			<a class="menu-link" routerLink='/'>
        <img src="../../../assets/logo.png" alt="logo" />
      </a>
    </div>
    <div class="nav-items">
      <ul class="menu">
        <li class="menu-item">
          <a class="menu-link" routerLink='/home' routerLinkActive='active'>Início</a>
        </li> 
        <li class="menu-item">
          <a class="menu-link" routerLink='results' routerLinkActive='active'>Results</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" routerLink='current-seasons' routerLinkActive='active'>Seasons</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" routerLink='imagem-compress' routerLinkActive='active'>Imagem Compress</a>
        </li>
      </ul>
      <div>
        Logged as {{ auth.userLoggedParse.email }}
        <button class="btn btn-small btn-primary" (click)="auth.signOut()">Sair</button>
      </div>
    </div>
  </div>
</nav>