.nav{
  padding: 10px 0;
  background-color: black;
  color: #fff;
  
  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-brand img {
    width: 100px;
  }

  &-toggle{
    display: none;
    outline: none;
    background: transparent;
    border: 0;
    i{
      width: 30px;
      height: 2px;
      background: #fff;
      margin: 3.5px 0;
      transition: .3s;
    }
  }

  &-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: 40px;
    font-size: 12px;

    .btn{
      margin-left: 5px;
    }

    @media screen and (max-width: 768px){
      display: none;
      position: absolute;
      z-index: 2;
      margin: 0;
      left: 0;
      top: 50px;
      text-align: center;
      background-color: black;
      padding: 30px;

      &.active{
        display: block;
      }
    }
  }


  @media screen and (max-width: 768px){
    &-toggle{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .active ~ &-toggle{
      i{
        position: relative;
        &:nth-child(1){
          transform:
          rotate(45deg); top: 8px;
        }

        &:nth-child(2){
          opacity: 0;
        }

        &:nth-child(3){
          transform: rotate(-45deg);
          top: -10px;
        }
      }
    }
  }
}

.menu{
  display: flex;

  &-item{
    margin: 0 10px;
  }

  &-link{
    color: #fff;
    &:hover{
      color: #0d9ff8;
    }
  }

  .active{
    color: #0d9ff8;
  }

  @media screen and (max-width: 768px){
    flex-direction: column;
    margin-bottom: 50px;

    &-item{
      padding: 10px 0;
      text-transform: uppercase;
    }
  }
}