<div class="container">
  <section class="compress">
    <div>
      <figure class="compress-figure" id="compressLoad">
        <img [src]="imgResultBeforeCompression" *ngIf="imgResultBeforeCompression" />
      </figure>
      <h2 >{{ labelImgCompress }}</h2>
    </div>

    <div>
      <figure class="compress-figure">
        <img [src]="imgResultAfterCompression" *ngIf="imgResultAfterCompression" />
      </figure>
      <h2 >{{ labelImgCompressed }}</h2>
    </div>
  </section>

  <button class="btn btn-medium btn-primary" (click)="compressFile()">Upload and compress Image</button>
</div>